.navbar-right {
	margin-right: 0px !important; 
}

.carousel-inner {
  margin-top: 50px !important;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 20px;
}

.cost .bg-warning {
  padding-left: 15px;
  padding-right: 15px;
}

.rsz-chart-img{
	height: 25px;
	width: 25px;
	position: relative;
	margin-top: -8px;
	margin-left: 3px;
}

.banner-full {
	width: 100%;
	background-color: #fab623;
}

.box-container-sh {
	box-shadow: 0 19px 34px rgba(0,0,0,.1);
}

.bg-submisison h3 {
  margin-top: 5px;
}

/* NAVIGATION */
.navbar-nav li a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
	outline: none;
}
	
/* Start Nav Menu Effect */
.menu-transition-eff .page-scroll:hover{
  background-color: #f8ad16 !important;
  color: #fff !important;
  -webkit-transition: ease 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: ease 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: ease 0.3s, opacity 0.3s, transform 0.3s;
}
.menu-transition-eff a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #333;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menu-transition-eff a:hover::after,
.menu-transition-eff a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/* End Nav Menu */

/* Start Shipment Map */
.shadow-bg {
	box-shadow: 0 19px 34px rgba(0,0,0,.1);
}
.shipment-1{
	padding-bottom: 30px;
}
.shipment {
	background-image: url('../img/bg1.png');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.placed-maps {
	background-color: #edeff1;
	height: 720px; 
	width: 50%;
	float: left;
}
.bg-submisison {
	padding: 20px 0;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 19px 34px rgba(0,0,0,.1);
	border: solid 1px #e6e6e6;
	border-width: 1px 0;
	margin-bottom: 25px;
}
.placed-content {
	background-color: #fff;
	height: 740px;
	width: 50%;
	z-index: 1;
	float: left;
}
.shipment-1 .cover-area-placed{
	height: 740px; 
} 
.shipment-1 .placed-maps{
	height: 740px;
}
.shipment-1 .placed-content{
	height: 740px;
}
.content {
	padding-left: 25px;
	padding-right: 25px;
}
.bg-title {
	background-color: #f3f6fb;
	border
	margin-top: 10px;
}

.destination-title {
  font-size: 3em;
  font-weight: 900;
  line-height: 1;
}

/* Space */
.pad-space {
	padding-top: 25px;
}
.btn-space {
	padding-top: 15px;
}
.upper-space {
	padding-top: 50px;
}
.btm-space {
	padding-bottom: 15px;
}
.spacer-top {
	padding-top: 75px;
}
.spacer-left {
	padding-left: 20px;
}

.ddd {
  color: #ddd;
}

/* Penbayaran place */
  .chart-place {
    width: 50%;
    float: left;
    padding-left: 13px;
    padding-right: 13px;
  }

/*btn custom*/
.btn-primary {
	color:#333;
}
.btn-default {
	border: 2px solid #C4C4C4;
	color: #737373;
	padding: 12px 22px;
  transition: ease-in-out 0.3s;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background: #F0f0f0;
	border-color: #949494;
	color: #737373;
	transition: ease-in-out 0.3s;
}
.btn-default:active, .btn-default.active {
	border-color: #737373;
	box-shadow: none;
}
.boxes-style {
	padding-left: 25px;
	padding-right: 25px;
}
.btn-warning {
	color: #333;
}
.btn-primary, .btn-warning{
  -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}
.btn-primary.raised:hover, .btn-warning.raised:hover {
	-webkit-transition: ease-in-out 0.3s;
  	-moz-transition: ease-in-out 0.3s;
  	-ms-transition: ease-in-out 0.3s;
  	-o-transition: ease-in-out 0.3s;
}
.btn-primary.raised, .btn-warning.raised {
	box-shadow: 0 3px 0 0 #b18902;
}
.btn-primary.raised:active,
.btn-primary.raised.active,
.btn-warning.raised:active,
.btn-warning.raised:active {
	background: #fec503;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.btn.raised{
  padding: 6px 50px !important;
}
.btn-inline-space {
	margin:0 10px 0 10px;
	padding-left: 30px;
	padding-right: 30px;
}

/* Datatable */
thead tr th,
tfoot tr th {
  font-size: 12px !important;
}
/**/

.tiny {
	font-size: 11px;
	margin-bottom: 5px;
}
.table-bg {
	background-color: #fff;
	box-shadow: 0 19px 34px rgba(0,0,0,.1);
	padding-top: 30px;
	padding-bottom: 25px;
}

/*Date Picker*/
#datepicker{
	width:200px;
	border: solid 1px #999;
	border-radius: 5px;
	margin: 0 20px 20px 0px;
}
#datepicker > span:hover{cursor: pointer;}

.input-group-addon:last-child {
	border: solid 1px #999;
}
.full-address {
	overflow-y: scroll; 
	height: 165px;
}
.paddings {
	padding-bottom: 10px;
}
/* End Shipment Map */

/* Checkbox */
.checkbox {
  padding-left: 20px;
  padding-top: 25px;
}
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 10px; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -23px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  top: 0;
  margin-left: -23px;
  padding-left: 3px;
  font-size: 13px;
  color: #555555; 
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1; 
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; 
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; 
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; 
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; 
}
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #2ecc71;
  border-color: #2ecc71; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
/**/

.input-group-addon {
	background-color: #f6bf01;
	color: #333;
}



/* STEP Customize*/
.pad-mini-space {
	padding-top: 15px;
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
  font-size: 14px !important;
  font-weight: 900;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  height: 40px;
  background-color: #eee;
  color: #ddd;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -19px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -19px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #eee;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #eee #eee #eee transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #eee;
  color: #ddd;
}
/*active*/
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #2ecc71;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #2ecc71 #2ecc71 #2ecc71 transparent;
}
.nav-pills.nav-wizard > li.active a {
  	background-color: #2ecc71;
  	color: #fff;
	padding-left: 30px;
	padding-right: 30px;
}
/*success*/
.nav-pills.nav-wizard > li.success a {
	background-color: #9a9a9a;
	color: #848484;
	padding-right:30px;
	padding-left: 30px;
	box-shadow: 0 19px 34px rgba(0,0,0,.1);
}
.nav-pills.nav-wizard > li.success .nav-arrow {
	border-color: transparent transparent transparent #9a9a9a;
}
.nav-pills.nav-wizard > li.success .nav-wedge {
	border-color: #9a9a9a transparent;
}


/* Toogle */
.checkbox label, .radio label {
	padding-left: 0 !important;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* SWITCH 2 - ROUND */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 130px;
  height: 40px;
  background-color: #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f8ad16;;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  content: "Tujuan";
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  font-weight: 900;
  color: #333;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: rgba(238,238,238,0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius:10px;
  -0-border-radius:10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #fed136;
  color: #333;
  font-weight: 900;
  text-align: left;
  content: "Asal";
  padding-left: 20px;
  padding-top: 10px;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 71px;
}
/**/

/* SWITCH 1 - ROUND */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 130px;
  height: 40px;
  background-color: #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f8ad16;;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  content: "Tujuan";
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  font-weight: 900;
  color: #333;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: rgba(238,238,238,0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius:10px;
  -0-border-radius:10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #fed136;
  color: #333;
  font-weight: 900;
  text-align: left;
  content: "Asal";
  padding-left: 20px;
  padding-top: 10px;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 71px;
}


h4 .disable-padding {
	padding-top: 0;
	margin-top: 3px !important;
}

/*glyp icon*/
.glyp-color {
	color: #333;
}
.glyp-color:hover {
	color: #fec503;
	transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;;
	-o-transition: ease-in-out 0.2s;;
}

/*Icon Barang*/
img.sizing{
  height: 100px;
  width: 100px;
}
.placed-content .btn-default {
  border: 0px;
}

div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

/*========= MEDIA QUERRIES ============*/
@media(max-width: 991px)  {
	.cover-area-placed {
		margin-left: 100px;
		margin-right: 100px;
	}
	.shipment {
		height: auto !important;
	}
  /*icon responsive*/
  .icon-res {
    height: 45px ;
    width: 45px;
  }
  .icon-font-res {
    font-size: 11px;
  }
}

@media(max-width: 783px) {
	.navbar-right {
		display: none;	
	}
	.nav > li > a {
		padding: 5px 5px;
	}
  .shipment-1 .placed-content {
    height: 700px;
  }
  .shipment-1 .placed-maps {
    height: 700px;
  }
}

@media(max-width: 767px) {
	.con-ress.container  {
		padding-left: 0;
		padding-right: 0;
	}
}

@media(max-width: 605px) {
	.banner-full {
		margin-top: 50px;
    height: 300px !important;
	}
  .placed-content {
    width: 100%;
    float: right !important;
  }
  .placed-maps {
    width: 100%;
    float :left !important;
  }
  .shipment-1 .placed-maps {
    height: 300px;
    width: 100%;
    float: left !important;
  }
  .shipment-1 .placed-content {
    height: 700px;
  }
  .placed-content {
    width: 100%;
    float: right !important;
  }
  .nav .nav-pills{
    padding-bottom: 15px !important;
  }
}

@media(max-width: 480px) {
  img.sizing {
    height: 55px;
    width: 55px;
  }
  .content {
    padding-left : 0px;
    padding-right: 0px;
  }
  .font-sizing {
    font-size: 11px;
  }
  .btn-lg {
    font-size: 12px;
  }
}
@media(max-width: 400px) {
  img.sizing {
    height: 32px;
    width: 32px;
  }
  .shipment-1 .placed-content {

  }
}

/*
}
@media (max-width: 991px)
@media (max-width: 767px)
@media (max-width: 479px)
*/